{% extends "StudyBlogBundle::layout.html.twig" %}

{% block title %} Comment {% endblock %}

{% block main_content %}
	<h1>Comment Page</h1>
	<a href="{{ path('study_add_comment',{'idPost': idPost}) }}" class="add_blog btn btn-success">Add Comment</a>
	<ul class="list_blog">
		{% for oComment in aComments %}
			<li>
				<h2>{{ oComment.title }}</h2>
				<p>{{ oComment.createdDate.date|date() }}</p>
				<p>{{ oComment.updatedDate.date|date() }}</p>
				<a href="{{ path('study_edit_comment',{'idComment': oComment.id, 'idPost': idPost}) }}" class="edit_blog btn btn-primary">Edit</a>
				<a href="{{ path('study_delete_comment',{'idComment': oComment.id, 'idPost': idPost}) }}" class="delete_blog btn btn-danger">Delete</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
